$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

$charcoal: #36454F;
$smoke: rgb(230, 230, 230);


// === Form settings ===
$form-border-color: #b3aca7;
$form-color: #ddd;
$form-hover-color: #e2dedb;
$form-placeholder-color: #aca49c;
$form-hover-placeholder-color: #bbb5af;
$form-hover-background-color: $form-border-color;
$form-input-font-size: 12px;
$form-submit-font-size: 14px;
$form-heading-font-size: 14px;