.solution-bars {
  margin-top: 30px;
}

.solution-vehicle {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.solution-vehicle-name {
  margin-right: 20px;
}

.solution-point {
  position: relative;
  background: #888;
  flex-basis: 40px;
  border: 1px solid #333;
  border-right: 0;
  height: 100%;

  &:last-child {
    border-right: 1px solid #333;
  }

  &:hover {
    .solution-point-box {
      display: block;
    }
  }
}

.solution-point-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  z-index: 1;
  min-width: 150px;
  font-size: 13px;
  padding: 5px;
  color: #333;
}