.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px
}

.table-inner {
  width: 100%;
}

.table-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.table-item-controls-container {
  display: flex;
  margin-left: 10px;
}

.table-item-control {
  padding: 8px 25px;
  border-right: 0;

  &:last-child {
    border-right: solid 1px $form-border-color;
  }
}